	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div dir="rtl" align="center" class="col-lg-3 col-md-6">
					<h3>درباره ی ما</h3>
					<p>
						یامی فود رستورانی است در ستارخان تهران. این رستوران که جدیدا به مدیریت مدیر با سابقه ای افتتاح شده کاملا مراعات بهداشت و نظافت طرز پذیرایی از واردین محترم را توسط مستخدمین کارآزموده خوبش تهیه نموده و میتوان اطمینان کامل به مشتریان محترم بدهد که تمامی پروتکل های بهداشتی COVID-19 در این مجموعه رعایت می شود.

					</p>
				</div>
				<div align="center" class="col-lg-3 col-md-6">
					<h3>ساعات کاری</h3>
					<p><span class="text-color">شنبه-چهارشنبه: </span>9 الی 23</p>
					<p><span class="text-color">پنجشنبه: </span>9 الی 24</p>
					<p><span class="text-color">جمعه: </span>تعطیل</p>
				</div>
				<div align="center" class="col-lg-3 col-md-6">
					<h3 >اطلاعات تماس</h3>
					<p class="lead">تهران ، ستارخان ، نبش شهرآرا</p>
					<p class="lead">021 - 88776655</p>
					<p> yamifood@gmail.com</p>
				</div>
				<div align="center" class="col-lg-3 col-md-6">
					<h3 align="center">تماس با ما</h3>
					<div class="subscribe_form">
			
							<a href="{%url 'relate:contactus'%}"><button type="submit" class="submit">ارسال پیام</button></a>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">تمامی حقوق برای <a href="#"> رستوران یامی فود </a> محفوظ است - 2021<br></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>