{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>وبلاگ</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog details -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>{{blog.title}}</h2>
						<p>{{blog.descriptions}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-12">
					<div class="blog-inner-details-page">
						<div class="blog-inner-box">
							<div class="side-blog-img">
								{% if blog.image %}
								<img class="img-fluid" src="{{blog.image.url}}" alt="">		
								{% endif %}					
								<div class="date-blog-up">
									{{blog.author}}
								</div>
							</div>
							<div class="inner-blog-detail details-page">
								<h3>{{blog.descriptions}}</h3>
								<ul dir ="rtl">
									<li><i class="zmdi zmdi-account"></i>نویسنده : <span>{{blog.author}}</span></li>
									<li>|</li>
									<li><i class="zmdi zmdi-time"></i>زمان : <span>{{blog.created_at | time }}</span></li>
								</ul>
								<p dir="rtl">{{blog.content| safe}}</p>
							</div>
						</div>
						<div class="blog-comment-box">
							<h3>نظرات</h3>
							{% for cm in comments  %}
														<div class="comment-item">
								<div class="comment-item-left">
									<img src="images/avt-img.jpg" alt="">
								</div>
								<div class="comment-item-right">
									<div class="pull-left">
										<a href="#">{{cm.name}}</a>
									</div>
									<div dir="rtl" class="pull-right">
										<i class="fa fa-clock-o" aria-hidden="true"></i>زمان : <span>{{cm.date}}</span>
									</div>
									<div class="des-l">
										<p>{{cm.message}}</p>
									</div>
									{% comment %} <a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> پاسخ</a> {% endcomment %}
								</div>
							</div>
							{% endfor %}
							{% comment %} <div class="comment-item children">
								<div class="comment-item-left">
									<img src="images/avt-img.jpg" alt="">
								</div> {% endcomment %}

						</div>
						<div class="comment-respond-box">
							<h3>ارسال نظر</h3>
							<div class="comment-respond-form">
								<form id="commentrespondform" class="comment-form-respond row" method="POST">
									{% csrf_token %}
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input id="name_com" class="form-control" name="name" placeholder="نام" type="text">
										</div>
										<div class="form-group">
											<input id="email_com" class="form-control" name="email" placeholder="ایمیل" type="email">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<textarea class="form-control" id="textarea_com" name ="message"placeholder="دیدگاه" rows="2"></textarea>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<button class="btn btn-submit">ارسال دیدگاه</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="right-side-blog">
						<h3>جستجو</h3>
						<form method="GET" action="{%url 'blog:search'%}">
							<div class="blog-search-form">
								<input name="search" placeholder="جستجوی مقاله" type="text">
								<button class="search-btn" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</form>
						<h3>دسته بندی ها</h3>
						<div class="blog-categories">
							<ul>
							{% for cat in categories  %}
                            	<li><a href="{%url 'blog:category' cat.slug %}"><span>{{cat.title}}</span></a></li>
                            {% endfor %}
							</ul>
						</div>
						<h3>مقالات اخیر</h3>
						<div class="post-box-blog">
							<div class="recent-post-box">
                            {% for blog in recents %}
								{% if blog.image %}
                            								<div class="recent-box-blog">
									<div class="recent-img">
										<img class="img-fluid" src="{{blog.image.url}}" style = "height:70px; width:70px;" alt="">
									</div>
									<div class="recent-info" dir="rtl">
										<ul>
											<li><i class="zmdi zmdi-account"></i>نویسنده : <span>{{blog.author}}</span></li>
											<li>|</li>
											<li><i class="zmdi zmdi-time"></i>زمان : <span>{{blog.created_at | time}}</span></li>
										</ul>
										<h4>{{blog.descriptions}}</h4>
									</div>
								</div>
								{% endif %}
                            {% endfor %}

							</div>
						</div>
						<h3>تگ های اخیر</h3>
						<div class="blog-tag-box">
							<ul class="list-inline tag-list">
								{% for tag in tags  %}
                                <li class="list-inline-item"><a href="{%url 'blog:tag' tag.slug%}">{{tag.title}}</a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- End details -->
	

{% endblock content %}