{% extends 'base.html' %}
{% load static %}

{% block content %}

<div dir="rtl" align="center">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> درباره رستوران یامی فود</h1>
    <br>
    <br>
    <img src="{% static 'images/Restaurant.jpg'%}">
    <br>
    <br>
    <p>یامی فود رستورانی است در ستارخان تهران. این رستوران که جدیدا به مدیریت مدیر با سابقه ای افتتاح شده کاملا مراعات بهداشت و نظافت طرز پذیرایی از واردین محترم را توسط مستخدمین کارآزموده خوبش تهیه نموده و میتوان اطمینان کامل به مشتریان محترم بدهد که تمامی پروتکل های بهداشتی COVID-19 در این مجموعه رعایت می شود. </p>
    <p>صدق گقتار و امتحان ادعای ما با یک مرتبه مراجعه معلوم خواهد شد و ضمنا این رستوران کلیه اغذیه های خود را به محله های اطراف رستوران خواهد فرستاد و نیز این رستوران وسیله بردن غذا به منزل و یا تفریح گاه ها به وسیله قابلمه در اختیار شما گذارده می شود.
        مدیریت رستوران یامی فود : هاشم مرادی
</p>
</div>

{% endblock content %}

